In [8]:
import datetime as dt
import numpy as np
import os
import pandas as pd

from ais import p, RemittanceDoc

# Converting AIS statements to entries (PPD version)
This is based on the EDI spreadsheets that are produced by AIS.  Note these are not always totally reliable as to what actually is received but seem to be accurate about 95% of the time.   
This version is designed to work with the implementation of the prompt payment that has been used at AIS.

## Setup up parameters

In [9]:
fn = '16267829_609 - test.xls'

## Guts of the program
Defines an AISRemittanceDocument object which holds all the source data for the remittance document pretty much in the form that AIS gives it to us.  Also the parsing from the Excel representation to this object form.

In [3]:
ais_doc = RemittanceDoc(os.getcwd() + '\\' + fn)
print(ais_doc)

Checking B22 for |42380.0|, = |---- END OF REPORT ----|
Checking A19 for |Document Type|, = |Document Type|
Checking B46 for |---- END OF REPORT ----|, = |---- END OF REPORT ----|
Title = CENPAC Supplier Transaction Detail Report: Week : 2 - Year :16
Week 2, Year 16
Invoices 10636.29, credits -168.37, stop_notes 0.00, reversal stop notes 0.00, total 10467.92

In [4]:
ais_doc.df.head()

,Document Type,Invoice Date,Our Ref,Your Ref,Value,Discount,Due,Member Code,Member Name,Store No.,EDI ANA Used,Comment
1,Credit Note,2016-01-15 00:00:00,160280459,160267829,-111.37,0,-111.37,4552,AIS Ltd (Cenpac Settlement),0070,5021157000700,NaN
2,Invoice,2016-01-11 00:00:00,160202243,57735,822.84,41.142,781.7,1135,Bodgers of Ilford Ltd,0322,NaN,NaN
3,Invoice,2016-01-12 00:00:00,160202250,57768,309.72,15.486,294.23,5960,Boswells of Oxford Ltd,1324,NaN,NaN
4,Invoice,2016-01-07 00:00:00,160203276,57730,325.38,16.269,309.11,4543,Camp Hopson (Newbury) Ltd,2495,NaN,NaN
5,Invoice,2016-01-12 00:00:00,160202249,57767,496.38,24.819,471.56,2701,Collingwood Batchellor Ltd,0586,NaN,NaN

In [7]:
ais_doc.df['Our Ref'][1]

160280459